
<div class="container">
    <h3 class="text-center mt-5 mb-5"> Restaurant Searching List </h3>
    
    
    <div class="d-flex flex-row-reverse bd-highlight mb-2">
        <div class="p-2 bd-highlight">
          <select (change)="onTableSizeChange($event)" class="custom-select">
            <option *ngFor="let size of tableSizes" [value]="size">
              {{ size }}
            </option>
          </select>
        </div>
      </div>
    
      <!-- <nav>
        <ul>
          <li><a routerLink='/grade'>Grade Component</a></li>
        </ul>
      </nav> -->
       

    <table class="table">
      <thead>
        <tr>
          <th>building</th>
          <th>street</th>
          <th>cuisine</th>
    
          <th>name</th>
          <th>restaurant_id</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let post of POSTS
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          ">

          <td>{{ post.address.building }}</td>
          <td>{{ post.address.street }}</td>
          <td>{{ post.cuisine }}</td>
          <!-- <td>{{ post.grades.date }}</td>
          <td>{{ post.grades.grade }}</td> -->
          <!-- <li *ngFor="let element of jsonArray">{{post.grades.date}}, {{post.grades.grade}}, {{post.grades.score}}</li> -->
         <!--  <a class="btn" routerLink="/votes">Check grades </a>-->
         
         <!-- <td> <button (click)= "goToPage('master')"> <span> Go to master Page </span>  </button> </td> -->
        
          <td>{{ post.name }}</td>
          <td>{{ post.restaurant_id }}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
  </div>